# Here is the list of packages automatically derived by QPT
# you can ignore the dependent packages in the main package and only care about the main package
# For example, you need to install paddlepaddle and pillow, because paddlepaddle relies on pillow, so you only need to install paddlepaddle.
# ---------------------------------------------------------------------
# QPT Home:        https://github.com/GT-ZhangAcer/QPT
# ---------------------------------------------------------------------
# 
numpy==1.19.5
scipy==1.5.4
sklearn==0.0
paddlex==1.3.8
paddlepaddle-gpu==2.0.2
opencv-python==4.1.2.30
PyQt5==5.15.4
PyQt5-sip
pywin32==300
pyecharts==1.9.0
# absl-py
# alive-progress
# altgraph
# appdirs
# astor
# atomicwrites
# attrs
# Babel
# bce-python-sdk
# beautifulsoup4
# blurhash
# boost
# bs4
# cachetools
# certifi
# cfgv
# chardet
# click
# cmake
# colorama
# colorlog
# cycler
# Cython
# # Editable install with no version control (cython-bbox
# -e e:\towards-realtime-mot-master_new\cython_bbox-0.1.3
# dataclasses
# decorator
# dill
# distlib
# dukpy
# easydict
# et-xmlfile
# fake-useragent
# filelock
# flake8
# flake8-import-order
# Flask
# Flask-Babel
# Flask-Cors
# future
# gast
# gitdb
# GitPython
# google-auth
# google-auth-oauthlib
# google-pasta
# greenlet
# grpcio
# h5py
# identify
# idna
# importlib-metadata
# importlib-resources
# imutils
# iniconfig
# itsdangerous
# javascripthon
# jieba
# Jinja2
# joblib
# jsonpath
# jupyter-echarts-pypkg
# Keras-Applications
# Keras-Preprocessing
# kiwisolver
# lap
# llvmlite
# lml
# lxml
# macropy3
# Markdown
# MarkupSafe
# Mastodon.py
# matplotlib
# mccabe
# motmetrics
# multiprocess
# mysqlclient
# nodeenv
# numba
# numpy
# oauthlib
# olefile
# openpyxl
# opt-einsum
# packaging
# paddlehub
# paddlenlp
# paddlepaddle-gpu
# paddleslim
# paddlex
# pandas
# pefile
# Pillow
# pluggy
# pre-commit
# prettytable
# progress
# protobuf
# psutil
# py
# py-cpuinfo
# pyasn1
# pyasn1-modules
# pycodestyle
# pycryptodome
# pyecharts-javascripthon
# pyecharts-jupyter-installer
# pyflakes
# pygame
# pyinstaller
# pyinstaller-hooks-contrib
# pyparsing
# pypinyin
# PyQt5
# pyqt5-plugins
# PyQt5-Qt5
# PyQt5-stubs
# pyqt5-tools
# pyqtgraph
# PyQtWebEngine
# PyQtWebEngine-Qt5
# pytest
# pytest-benchmark
# python-dateutil
# python-dotenv
# python-magic
# pytz
# pywin32-ctypes
# PyYAML
# pyzmq
# QDarkStyle
# QPT
# qt5-applications
# qt5-tools
# QtPy
# rarfile
# requests
# requests-oauthlib
# rsa
# ruamel.yaml
# ruamel.yaml.clib
# schedule
# scikit-learn
# scipy
# selenium
# seqeval
# Shapely
# shellcheck-py
# simplejson
# sip
# six
# sklearn
# smmap
# soupsieve
# SQLAlchemy
# style
# tensorboard
# tensorboard-plugin-wit
# tensorboardX
# tensorflow
# tensorflow-estimator
# termcolor
# threadpoolctl
# toml
# torch
# torchvision
# tornado
# tqdm
# typing-extensions
# update
# urllib3
# virtualenv
# visualdl
# wcwidth
# Werkzeug
# wget
# wordcloud
# wrapt
# xlrd
# xlwt
# xmltodict
# yacs
# zipp
